body {
  padding: 20px;
}

/* layout settings */
.svg-div {
  float: left;
  width: 50%;
  position: relative;
}

.tbl-div {
  float: right;
   width: 50%; /* optional */
   overflow-x: auto;
}

/* attempt to use media queries */
@media (max-width: 700px), (orientation: portrait) {
  .svg-div {
    float: left;
    width: 100%;
  }

  .tbl-div {
    float: left;
    width: 100%;
    overflow-x: auto;
  }
}

#control {
  clear: left;
  background-color: #F4F6F7;
  border: 0.5px #B3B6B7 solid;
  border-radius: 5px;
  padding: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

button {
  margin: 5px;
}

p {
  margin-top: 5px;
}

/*** TABLE PROPERTIES ***/
/*totals column  or totals row */
table {
  width: 100%;
}

.tc {
  font-weight:bold;
}

tr {
  align: center;
}

td, th {
  text-align: center;
  word-wrap: break-word;
  font-size: 13px;
}

/* table headings */
.headings {
  font-style: italic;
  font-weight:normal;
  text-decoration: underline;
  text-align: center;
  align: center;
  visibility:visible;
}

/* groups for two way bar plots */
.yGroup {
  text-align: center;
  font-weight: bold;
}

/*** BUTTONS ***/
#viewTable {
  background-color: DeepSkyBlue;
  margin-right: 10px;
}

#reset {
  background-color: rgb(0, 128, 0);
  margin-right: 10px;
}

.Percentage {
  background-color:rgb(0, 0, 255);
  opacity: 0.5;
  margin-left: 10px;
}

.Count {
 background-color: purple;
 opacity: 0.5;
 margin-left: 10px;
}

#form {
  display: inline-table;
  padding: 5px;
}

/* textlabels */
.label {
  font-size: 10;
  fill: black;
  stroke: none;
  fill-opacity: 1;
  text-anchor: middle;
  visibility: inherit;
  font-weight: normal;
}

/* BAR PROPERTIES (for bar charts) */
.bar {
  stroke: none;
  visibility: visible;
  opacity: 1;
}

.bar:hover {
  stroke-width: 50%;
  fill-opacity: 0.5;
}

/* upon selection */
.selected {
  opacity: 1;
  visibility: visible;
}

.none {
  opacity: 0.2;
}

.hidden {
  display: none;
  visibility: hidden;
}

/*highlighting data */
.totalRow, .tabSelect, .select {
  align: center;
  font-weight: bold;
}

.rowSelect {
  display: table-row;
  opacity: 1;
}

/* legend interactions and styling */
.show {
  font-size: 115%;
  fill-opacity: 0.5;
}

.out {
  font-size: 100%;
  fill-opacity: 1;
}

.keyText {
  fill: black;
}

/* for box plots - dot plots, histograms */
.box {
  fill: gray;
  fill-opacity: 0.5;
}

.fillBox {
  fill-opacity: 0.2;
}

/* for dot plots and scatter plots */
.point:hover { /* showPoint */
  fill: currentColor;
  stroke-width: 50%;
  fill-opacity: 1;
}

/* for histograms and hexbins */
.histBar {
  stroke: white;
  stroke-width: 0.25;
}

.hexbin {
  stroke: none;
}

.hexbin:hover, .histBar:hover {
  fill-opacity: 0.5;
}

div.tooltip {
    position: absolute;
    text-align: center;
    padding: 5px;
    z-index: 10;
    opacity: 1;
    visibility: hidden;
    font: 11px sans-serif;
    background: white;
    border: 1px solid lightgray;
    border-radius: 5px;
    pointer-events: none;
}

span {
  font-weight: bold;
}
