<!DOCTYPE HTML>
<!-- template for HTML conversion plot -->
<html>

  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title> iNZight Plot </title>

      <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <!-- style sheet -->
      <style>
      /* insert styles.css */
      </style>

      <!-- Bootstrap: JQuery + JS -->
      <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
      <!-- Latest compiled JavaScript -->
    <script defer src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  </head>

  <body>
    <div class = "container" id = "main">
      <div class = "svg-div">
    <!-- insert SVG code from SVG file here -->

        <div class = "control" id="control">
          <button type="button" class="btn btn-info" onclick="reset()" id="reset"> Reset </button>
          <button type="button" class="btn btn-info" onclick="showTable()" id="viewTable"> View Table </button>
        </div>
    </div>

    <div class = "tbl-div">
        <!-- insert table -->

      </div>
  </div>

    <script defer type = "text/javascript">
      //insert commonFunctions
    </script>

    <script defer type = "text/javascript">
    // insert inline JSfile here
    </script>

  </body>

</html>
